[Unit]
Description=USB Backup Watcher
DefaultDependencies=no
After=basic.target rescue.target
Before=shutdown.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/pi-backup/usb-watcher-run.py
Restart=always
User=root

[Install]
WantedBy=rescue.target
